extends ../layout/index
block content
    main.container.md-5
        h1.text-center.mb-5 #{page}
        .row.proximos-viajes
            each travel in travels
                .col-md-6.col-lg-4.mb-4
                    .card
                        img(src=`img/destinos_${travel.image}.jpg`,class='img-fluid')
                        .card-body
                            h2=travel.tittle
                            p
                                i.fas.fa-calendar-alt
                                |   #{travel.start_date} - #{travel.end_date}
                            p
                                i.fas.fa-dollar-sign
                                |   #{travel.price}
                            p= travel.description.substr(0,100)
                            a(href=`travels/${travel.id}`, class='btn btn-success btn-block') More info